//Productos

h3{
    color: $celestelogo;
	font-size: 2.6rem;
	margin-top: 0px;
	margin-bottom: 0px;
}
.mainProductos__titulos__contenedor{
    background-color: $gris1;
    padding: 40px;

    &--subTitulo{
        color: $gris7;
        font-size: 2.4rem;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 0px;
    }

}


.mainProductos__imagenes{
    background-color: $gris1;
    padding: 0px 0px 50px 0px;

    &__card{
        background-color: white;
        margin: 30px;
        padding: 0px;
        box-shadow: 5px 5px 5px 0px $gris3;

        &__c-img{
           position: relative;
           display: flex;
           justify-content: flex-end;
           align-items: flex-end;
           cursor: pointer;

           a{
            color: white;
            font-family: 'Source Sans Pro';
           }

           &--masInfo{
            background-color: rgba(0,0,0,0.5);
            padding: 10px;
            position: absolute;
            display: none;   
            }     
        }

        &:hover .mainProductos__imagenes__card__c-img--masInfo{
            display: block;
        }

        &--nombre{
            border-left: solid 2px $celeste1;
            background-color: $gris2;
            height: 50px;
            margin: 0px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            h6{
                color: $gris7;
                font-weight: 600; 
                font-size:1.6rem;
                font-family: 'Source Sans Pro', sans-serif;
                margin: 0px;
                padding: 5px;
                align-items: center;  
            }
        }
    }
}
