@import "scss-bootstrap/_bootstrap.scss";
@import "scss-bootstrap/_bootstrap-grid.scss";
@import "scss-bootstrap/_bootstrap-reboot.scss";

@import "variables.scss";
@import "header.scss";
@import "footer.scss";
@import "index.scss";
@import "servicios.scss";
@import "nosotros.scss";
@import "productos.scss";
@import "contacto.scss";


//General

//h1-titulo principal index 
//h2-nombre empresa index
//h3-titulos paginas / servicios
//h4-sub titulo index / nosotros 
//h5-titulos productos / index 
//h6-servicios / nombres productos



html{
	font-size: 62.5%;
	
	@media(max-width:768px){
		font-size: 45%;
	}
	/*@media(min-width:567px){	
		font-size: 45%;
	}*/
	@media(min-width:768px){	
		font-size: 50%;
	}
	@media(min-width:992px){
		font-size: 55%;
	}
	@media(min-width:1200px){
		font-size: 60%;
	}
}
body{
    font-family: 'Work Sans', sans-serif;
}
#contenedorTitulos{
	margin-top: 100px;
	margin-bottom: 90px;
	hr{			
		border:solid 2px $celeste1;
		animation-name: efecto1;
				animation-iteration-count: initial;
				animation-duration: 1s;    
				@keyframes efecto1{
					from{width: 0%;}
					to{width: 96%;}
				}
	}
	h3{
		color: $gris11;	
		padding-top: 5px;
		font-size: 2.8rem;			
	} 
}
p{
	font-size: 1.7rem;
	color: $gris3 ;
}
a{ 
	color: $gris6;
	font-size: 2.2rem;
}
a:hover{
	text-decoration: none;
}


